<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LosBenjamin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0477EEBB1F9EF2D300B2B082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0477EECF1F9EF2D400B2B082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0477EEDA1F9EF2D400B2B082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
